@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');
$fontLato: 'Lato', sans-serif;
$fontZcool: 'ZCOOL QingKe HuangYou', cursive;
$fontKarla: 'Karla', sans-serif;
$fontMulish: 'Mulish', sans-serif;

$white: #ffffff;
$red: #EC615B;
$lightblue:#999aeb;
$blue: #0C63E6;
$darkBlue: #1f5fc0;
$lightpurple:#4a77d8;
$purple: #8463FF;
$darkPurple: #7a5be7;
$grey: #838383;
$main: #F7AD28;
$yellow: #F7AD28;
$lightGreen: #2ecc71;